* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

html {
    font-family: 'Poppins', sans-serif;
    font-size: 62.5%;
}

body {
    font-size: 1.4rem;
}

/* .carrossel-movie.content-home {
   width: 90%;
}

.carrossel.home {
   display: flex;
   justify-content: flex-end;
} */

.content {
    width: 80%;
}

.carrossel.home{
    padding-bottom: 6rem;
    padding-left: 15rem;
}

.carrossel.home p {
    margin-left: 0;
}

.carrossel-movie p {
    font-size: 2.4rem;
    font-weight: 700;
    color: #fff;
    padding: 4rem 0 1rem 0;
    margin-left: 5rem;
}

.owl-carousel a img {
    transition: all .2s ease-in-out; 
    border-radius: 1.2rem;
    
}

.owl-carousel a img:hover{
    border: .4rem solid #fff;
}



.carrossel.home .owl-stage{padding-left:0px !important;}


header .content.welcome a i {
    padding-right: 0.5rem;
    font-size: 1.6rem;
}